
.App {
  text-align: center;
  background-color: #1e1e1e; 
  color: #f0f0f0; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease; 
}

@keyframes colorChange {
  0% { color: #f0f0f0; }
  50% { color: #4caf50; }
  100% { color: #f0f0f0; }
}

.App h1 {
  font-size: 4rem;
  font-weight: bold;
  animation: colorChange 3s infinite; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  margin: 20px;
}

.mi-imagen {
  width: 300px; 
  border-radius: 10px; 
  margin-top: 20px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
